/* VARIABLER KAN SAMLES HER */
$PrimaryRed: #D69094;
$PrimaryBlue: #63ABBC;
$PrimaryGray: #69696E;
$left: left;
$right: right;
$top: top;
$bottom: bottom;
$padding: 30px;


/* MEDIA QUERIES */

$tablet: "screen and (min-width:768px)";
$computer: "screen and (min-width:1200px)";